# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Auop Coin Daemon SNAP
Comment=testnet
GenericName=OPALCOIN Digital Currency Daemon Client testnet network
Exec=opalcoin-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/opalcoin_testnet.png
MimeType=x-scheme-handler/auop;
Categories=X-Office;X-Finance;
Keywords=internet;opalcoin;zauop;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
